body {
    background-color: #EEEEEE;
}

nav {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.nav-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main-container img {
    width: 160px;
}

.nav-list {
    display: flex;
    gap: 3vh;
    font-size: 18px;
}

.nav-link {
    color: #8A2BE2;
}

.tap-list {
    margin-top: 30px;
    gap: 30px;
    display: flex;
}

.search-container {
    display: flex;
    gap: 10px;
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 12px;
}

.search-container input {
    border: none;
    background: none;
    outline: none;
    width: 300px;
}

.search-container button {
    border: none;
    outline: none;
    background-color: #f5f5f5;
    color: #A9A9A9;
    font-size: 15px;
}

.tap-item a {
    color: #8A2BE2;
    font-size: 18px;
}

.tap-item a:hover {
    font-weight: 600;
}

.nav-list a:hover {
    font-weight: 600;
}

.nav-toggle {
    display: none;
}

/* 모바일 반응형 수정 */
@media screen and (max-width: 930px) {
    .nav-link {
        color: white;
    }

    .nav-main-container {
        flex-wrap: wrap; /* 줄 바꿈 */
        gap: 15px;
        padding: 10px;
        justify-content: space-between; /* 양 끝으로 정렬 */
    }

    .search-container {
        flex: 1 1 100%; /* 전체 너비 */
        display: flex;
        gap: 10px;
        padding: 8px;
    }

    .search-container input {
        width: 100%; /* 입력 창이 화면에 맞게 */
        font-size: 14px; /* 글씨 크기 축소 */
    }

    .nav-list {
        position: absolute;
        top: -200%; /* 숨기기 */
        left: 0;
        right: 0;
        flex-direction: column; /* 세로 정렬 */
        background-color: #8A2BE2;
        padding: 10px 0;
        border-radius: 0 0 10px 10px;
        opacity: 0; 
        z-index: -1;
        /* transition: all 0.3s ease; */
    }

    .nav-list.show-menu {
        top: 196px; /* 햄버거 메뉴 아래로 위치 */
        opacity: 0.9;
        z-index: 10;
    }

    .nav-item {
        padding: 12px 20px;
        font-size: 14px; /* 작은 글씨 */
        color: white;
    }

    .nav-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #8A2BE2;
    }

    .tap-list {
        display: none;
    }

    .search-container input::placeholder {
        font-size: 85%; /* 더 작은 크기 */
    }
}